@font-face {
  font-family: 'Circular Std';
  src: url(./CircularStd-Book.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url(./CircularStd-Bold.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(./Inter-Regular.ttf);
  font-weight: normal;
}

* {
  font-family: 'Circular Std';
  font-size: 14px;
  font-weight: normal;
}