.App {
  width: 1208px;
  height: 100vh;
  /* overflow: hidden; */
  max-width: 100vw;
  margin: auto;
  padding-top: 59px; /* 79px */
  display: flex;
  flex-flow: column nowrap;
}

body {
  height: 100%;
  /* overflow-y: hidden; */
}

.scroll::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

.scroll::-webkit-scrollbar-track {
  background: white;
  padding: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 10px;
  border: 2px solid white;
}

* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
